.opciones-overlay { 
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1000;
}

.opciones-modal {
  background-color: rgba(44, 44, 44, 0.897);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  position: relative;
}


.tabs-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #b13131;
  border-radius: 5px;
  background-color: #f05151;
  cursor: pointer;
}

.active-tab {
  background-color: #02a102;
  font-weight: bold;
}

.settings-container {
  text-align: left;
}
